@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>
   <p> Declaração de privacidade e confidencialidade da informação do Second Hand</p>

   <p> Versão atualizada em 17 de julho 2020.</p>


   <p> No Second Hand, consideramos a proteção de dados pessoais como uma oportunidade para gerar valor aos nossos usuários. Ao fazer uso responsável das informações pessoais, não apenas protegemos a privacidade daqueles que nos confiaram seus dados, mas também permitimos que eles operem com segurança e confiança em nosso ecossistema.


    Portanto, sua privacidade é muito importante para nós e nos esforçamos para protegê-la.</p>


   <p> O Second Hand, a fim de poder oferecer seus serviços, trata, coleta e, em alguns casos, revela informações sobre pessoas que, como você, são usuários e visitantes de sites e/ou aplicativos móveis, conforme detalhado aqui (“Plataformas” e “Serviços”, respectivamente). A presente Declaração de Privacidade e Confidencialidade da Informação do Second Hand (“Declaração de Privacidade”) descreve as informações que o Second Hand coleta e discute sobre você e o que ele pode fazer com tais informações.</p>


   <p> Esta Declaração de Privacidade é parte integrante dos Termos e Condições Gerais do Second Hand. Dar seu consentimento voluntário, expresso e informado a esta Declaração de Privacidade é um requisito essencial para poder contratar e/ou estabelecer qualquer tipo de relacionamento com o Second Hand, a depender da legislação em vigor de cada país.</p>




   <p> Como o Second Hand está integrado e como esta Declaração de Privacidade se aplica?</p>


    O objetivo do Second Hand é democratizar o comércio, o dinheiro, os pagamentos, os envios e o crédito. Para isso, gerou um ecossistema de serviços integrados por meio de suas plataformas: Second Hand (Marketplace), Mercado Pago, Classificados, Publicidade, Mercado Envios, Mercado Créditos, Mercado Shops e Mercado Pontos. Todas essas plataformas compõem um todo e a interfuncionalidade entre elas é necessária e indispensável para a prestação dos serviços oferecidos pelo Second Hand.


    Por esse motivo, é importante ter em mente que, quando você se registra em qualquer uma dessas plataformas, está gerando um usuário que lhe permitirá operar em todas as outras. Para isso, é necessário que seus dados sejam compartilhados entre todas as empresas do Second Hand que compõem as plataformas. No item 5. “Como compartilhamos as Informações Pessoais?” você encontrará mais informações sobre isso.


    Esta Declaração de Privacidade se aplica a todos os serviços e operações de processamento de dados do Second Hand, seja o MercadoLibre Inc. ou suas subsidiárias ou afiliadas.


    É importante destacar que os serviços do Second Hand e cada uma de suas plataformas destinam-se a usuários localizados nos países em que o Second Hand tem presença ou operação, por exemplo, através de um site específico para um determinado país.




    Quem é o responsável pelo processamento das Informações Pessoais?


    O responsável pelo processamento é quem decide sobre o processamento dos dados pessoais. Para isso, determina-se os propósitos ou usos para os quais as informações pessoais serão utilizadas e os meios que serão utilizados para tal processamento (consulte o item 4. “Para qual finalidade as informações pessoais serão utilizadas?").


    O Second Hand é responsável pelo processamento dos dados dos usuários e visitantes de suas Plataformas através de suas subsidiárias ou afiliadas. Para descobrir qual empresa ou empresas são responsáveis pelo processamento em seu país de residência, consulte o anexo correspondente a esse país.




    Quais informações coletamos e processamos?


    O Second Hand coleta suas informações pessoais para que você possa desfrutar de nossos serviços e para poder aprimorá-los continuamente.


    Em alguns casos, as informações serão fornecidas por você mesmo, ao registrar-se ou ao fornecer informações ao utilizar algum de nossos serviços. Em outros, nós as coletamos automaticamente, como quando navega em nossas páginas, utiliza nossos serviços. Também podemos coletar suas informações por meio de outras fontes confiáveis.


    Queremos que saiba que não é obrigado a nos fornecer as informações pessoais indicadas abaixo; no entanto, trata-se de um requisito essencial para que possa contratar e/ou ter qualquer tipo de relacionamento com o Second Hand e, caso não forneça essas informações, não seremos capazes de lhe fornecer nossos serviços ou nossa capacidade de fazê-lo poderá ser significativamente prejudicada. A imprecisão ou inexatidão dos dados pessoais que você fornecer poderá ocasionar a suspensão dos Serviços. Da mesma forma, o Second Hand poderá suspender ou desabilitar permanentemente os usuários que violarem esta Declaração de Privacidade.


    Veja abaixo os tipos de dados que coletamos:




    Informações que nos fornece diretamente ao registrar-se ou ao utilizar nossos serviços:



    apelido ou pseudônimo para operar nas plataformas do Second Hand,

    nome, imagem pessoal (foto pessoal ou foto do documento),

    número de documento ou identificação válida,

    informações de contato (como número de telefone, endereço, endereço de e-mail).

    detalhes da conta bancária

    informações e meios de pagamento

    informações sobre direitos de propriedade intelectual, titularidade dos membros do Brand Protection Program (BPP) e informações sobre sua atividade como denunciantes.




    Informações que coletamos automaticamente, independentemente se está registrado ou não:



    Informações dos dispositivos ou computadores a partir dos quais acessa a plataforma Second Hand e outros dados capturados automaticamente (como o tipo ou versão do navegador ou o sistema operacional, configurações e parâmetros)

    Endereço IP da internet que utiliza ao se conectar aos nossos serviços ou ao navegar em nossos sites.

    Informações sobre transações e movimentos nas plataformas do Second Hand (compras, pagamentos, devoluções, perguntas, saques, transferências, movimentos do cartão pré-pago, créditos recebidos, adiantamentos em dinheiro, reclamações, faturamento, dados fiscais, senha ou código de identificação de conta digital (CVU, CLABE, etc.), contas bancárias, mensagens internas).

    certas informações sobre a atividade dos usuários e visitantes em nosso site e aplicativos. Essas informações podem incluir o URL de onde vêm (estejam ou não em nosso site), quais URLs acessam em seguida (estejam ou não em nosso site). Também poderão ser armazenadas e retidas as páginas visitadas, as interações com as referidas páginas, pesquisas realizadas, publicações, compras ou vendas, classificações e respostas, reclamações feitas e recebidas, mensagens nos fóruns, entre outras informações.

    informações sobre sua localização (geolocalização), que podem ser utilizadas para oferecer descontos, recalls de produtos, localização de lojas com QR ativado para pagamento, entre outras.

    listas de contatos de dispositivos móveis utilizados pelos usuários, para a prestação de diferentes serviços, como o envio de dinheiro entre contas.

    links entre contas e usuários, para ações de prevenção de fraudes.

    dados para a gestão de reclamações e sentenças (informações para a elaboração de documentos, antecedentes e estratégias).

    caso não tenha se registrado ou acessado através de sua Conta Pessoal, o Second Hand somente coletará e armazenará, além das informações indicadas neste item, seus números de telefone celular, seu endereço de e-mail e e-mails enviados.




    Informações que coletamos de outras fontes:



    informações coletadas para fins de prevenção de fraudes e cumprimento dos regimes de informações (listas PEPs, OFAC etc.)

    informações de crédito obtidas a partir de bases de risco de crédito e/ou fontes de acesso público, de acordo com a lei aplicável.

    dados utilizados para validação de identidade, obtidos a partir de fontes seguras e confiáveis, como órgãos públicos, prestadores de serviços ou parceiros de negócios com os quais trabalhamos.






    O que fazemos com as Informações Pessoais?


    A coleta e o processamento de suas Informações Pessoais nos permitem prestar um excelente serviço para que você possa realizar transações com rapidez e segurança e oferecer funcionalidades que melhor se adaptam às suas necessidades. Exceto nos casos proibidos pelos regulamentos aplicáveis, o Second Hand poderá utilizar suas Informações Pessoais para os seguintes fins:




    Fornecer os produtos, serviços e/ou benefícios oferecidos pelas plataformas do Second Hand (Marketplace, Mercado Pago, Mercado Crédito, Mercado Envios, Second Hand Classificados, Second Hand Publicidade etc.).



    Identificá-lo e contatá-lo.

    Registrá-lo em nossos sistemas.

    Verificar sua identidade em conformidade com os requisitos legais.

    Fornecer os produtos, serviços e/ou benefícios que solicitar ou contratar conosco.

    Facilitar o contato direto com o vendedor ou o comprador para os fins da transação que deseja realizar.

    Elaborar e manter um registro das operações realizadas, bem como informá-lo sobre elas e realizar o acompanhamento adequado.

    Colocar à sua disposição a nossa plataforma de comércio eletrônico e o sistema de pagamento online conhecido como Mercado Pago.

    Gerenciar os serviços e produtos do Mercado Pago, incluindo o serviço de processamento de pagamentos e a conta digital.

    Prestar suporte para as soluções de investimento do valor em conta.

    Atender seus comentários, reclamações e sugestões, além de fornecer suporte.

    Elaborar perfis para fins de análise de crédito.

    Oferecer e gerenciar os produtos de crédito que solicitar ou contratar conosco.

    Cobrança judicial e/ou extrajudicial.

    Facilitar o envio de produtos anunciados em sites, aplicativos e outras plataformas de comércio eletrônico operadas pelo Second Hand, ou aquelas que utilizem suas tecnologias.

    Oferecer os serviços e funcionalidades que melhor atendam às suas necessidades e personalizar nossos serviços para tornar suas experiências com o Second Hand o mais confortável possível.

    Permitir a sua participação em concursos, leilões ou sorteios, caso sejam realizados e aplicáveis a você, além de notificá-lo caso seja o vencedor, sempre em conformidade com os regulamentos aplicáveis a sorteios e concursos.

    Contribuir para a segurança das relações, comunicações e transações entre os usuários da nossa plataforma.

    Desenvolver um sistema de reputação do usuário, para benefício dos consumidores.




    Aprimorar nossos serviços, desenvolver novos serviços e oferecer-lhe uma melhor experiência com as plataformas do Second Hand.



    Desenvolver estudos internos sobre seus interesses e comportamentos, para lhe oferecer melhores serviços e produtos, além de realizar estudos estatísticos.

    Traçar perfis analisando diversas variáveis, como conduta ou interações na plataforma, análise e previsão de capacidade econômica, preferências, interesses, histórico de transações, comportamento e localização, entre outras, para melhorar nossas iniciativas comerciais e promocionais, exibir publicidade ou promoções, banners de interesse, notícias nas plataformas do Second Hand, aprimorar nossa oferta de conteúdo e artigos, personalizar o conteúdo, apresentação e serviços.

    Oferecer os serviços e funcionalidades que melhor atendam às suas necessidades e personalizar nossos serviços para tornar suas experiências com o Second Hand o mais confortável possível.

    Aprimorar nossas iniciativas comerciais e promocionais e analisar as páginas visitadas, as pesquisas realizadas pelos usuários, para aprimorar nossa oferta de conteúdo e artigos, personalizar o conteúdo, sua apresentação e serviços.

    Capacitar consultores independentes a fim de aprimorar a oferta de serviços aos usuários do Second Hand.

    Fornecer informações através de diferentes canais (por e-mail, mensagens curtas de texto (SMS), mensagens push, ligações telefônicas ou qualquer outro meio) sobre melhorias ou novas funções ou serviços da plataforma.

    Conquistar sua fidelidade através de um programa de benefícios.

    Permitir que terceiros, por meio do uso de APIs públicas, criem aplicativos que utilizem conteúdo da plataforma e interajam com ela para facilitar, aprimorar e/ou aumentar seu uso e suas funcionalidades e os serviços geralmente fornecidos pelo Second Hand.




    Cumprir as obrigações e requisitos legais das autoridades competentes.



    Cumprir os regulamentos aplicáveis ao Second Hand em geral.

    Cumprimento das normas de Prevenção à Lavagem de Dinheiro e Financiamento ao Terrorismo (Ações de (KYC), verificação de identidade contra Pessoas Politicamente Expostas, verificação de perfil e histórico de transações, em conformidade com a regulamentação aplicável sobre prevenção à lavagem de dinheiro, verificação contra listas OFAC e outras), conforme aplicável em cada país.

    Cumprimento dos regimes de informação em geral, conforme aplicável em cada país.

    Cumprimento dos regimes tributários de arrecadação, registro, informações, auditoria e cobrança, em qualquer nível do governo (por exemplo: federal, estadual e municipal).

    Cumprimento dos requisitos de informação das autoridades administrativas ou judiciais competentes.

    Fornecer informações de usuários a entidades governamentais com acordos de colaboração para o cumprimento de suas competências.




    Detectar e prevenir fraudes, abusos e crimes relacionados a fim de proteger a segurança de nossos usuários e a sustentabilidade das plataformas.



    Fazer com que as plataformas cresçam de forma sustentável e segura por meio de ferramentas e ações de prevenção de fraudes e crimes relacionados.

    Treinar o modelo de algoritmo de detecção e prevenção automatizada de fraudes.




    Proteger os direitos de usuários, terceiros ou do próprio Second Hand.



    Defender os direitos, ativos tangíveis e intangíveis do Second Hand.

    Reivindicar os direitos do Second Hand em caso de violação de seus Termos e Condições.

    Permitir que outros usuários ou terceiros reivindiquem seus direitos.




    Colaborar com os proprietários de propriedade intelectual no exercício de seus direitos



    Colaborar com a proteção dos direitos de propriedade intelectual, próprios ou de terceiros, investigações de violação de tais direitos.

    Colaborar com os membros do Brand Protection Program com as informações pessoais dos vendedores denunciados por meio do programa para que possam exercer seus direitos fora da plataforma.

    Facilitar a resolução de disputas entre vendedores e os membros do Brand Protection Program que os denunciaram.

    Colaborar com as entidades que intervêm na resolução de disputas.

    Colaborar com entidades privadas que representam interesses coletivos com um acordo de colaboração, para facilitar a resolução de disputas.




    Fazer anúncios e contatos publicitários e promocionais.



    Contatá-lo por meio de diferentes canais (por e-mail, mensagens curtas de texto (SMS), mensagens push, chamadas telefônicas ou outros meios) para fins publicitários e/ou promocionais de produtos e serviços do Second Hand e/ou de terceiros.

    Realizar qualquer tipo de atividade de marketing, publicidade, prospecção comercial e/ou pesquisa de mercado.



    Algumas das finalidades descritas podem não ser aplicáveis enquanto: a) não utilizar o serviço associado a tais finalidades ou b) os serviços vinculados a tais finalidades não sejam oferecidos no seu país de residência.

    O uso de seus dados para qualquer outra finalidade que não seja compatível com as descritas será comunicado antes de prosseguirmos com o processamento.

    O Second Hand manterá suas Informações Pessoais pelo tempo que for necessário para cumprir os fins para os quais foram coletadas.






    Como compartilhamos as Informações Pessoais?


    A proteção de sua privacidade é muito importante para o Second Hand. Portanto, não vendemos ou comercializamos informações que identifiquem nossos usuários. Também não compartilhamos ou transferimos de qualquer forma suas Informações Pessoais para terceiros, exceto conforme indicado abaixo:


    O Second Hand poderá ceder, transmitir e/ou transferir suas Informações Pessoais para:


    (i) “Prestadores de Serviços”: prestadores de serviços ou empresas de outsourcing são terceiros contratados para atuar em nome do Second Hand para prestar serviços seguindo nossas instruções e de acordo com o estabelecido nesta Declaração de Privacidade, a fim de ajudar a melhorar ou facilitar as operações através da nossa plataforma, como: (a) empresas de transporte, logística, courier e de entrega para o envio dos produtos que comprou; (b) meios de pagamento, intermediários na gestão de pagamentos ou seguros, para obtenção do pagamento pelos serviços ou produtos contratados, bem como para fornecer proteção em relação aos produtos adquiridos, (c) provedores de sistemas de computador, provedores de serviços em nuvem, provedores de bancos de dados e provedores de serviços tecnológicos em geral, (d) call centers ou centros de atendimento ao cliente, (e) empresas que gerenciam programas de fidelidade para a concessão de benefícios, (f) agências de publicidade ou marketing, (g) análise de dados, (h) agências de cobrança, (i) entidades governamentais ou empresas especializadas em riscos, com o objetivo de verificar suas informações. Esses Prestadores de Serviços acessam apenas as informações estritamente necessárias para a prestação dos serviços acordados e não podem utilizá-los para outros fins que não lhes tenham sido confiados pelo Second Hand.


    (ii) “Parceiros comerciais": empresas com atividades financeiras ou comerciais com as quais o Second Hand mantém um relacionamento de colaboração ou parceria, a fim de oferecer promoções, produtos e serviços dessas empresas ou co-branding. Nesses casos, o Second Hand toma todas as medidas cabíveis para garantir o cumprimento dos padrões de confidencialidade e segurança, firmando acordos ou contratos com o objetivo de proteger a privacidade dos dados pessoais de nossos usuários e o cumprimento da legislação aplicável.


    (iii) “Grupo Second Hand”: empresas pertencentes ao nosso grupo econômico, que operam sob nossos mesmos processos e políticas internas, sejam elas controladas, controladoras ou afiliadas ao Second Hand, para cumprir com nossas políticas internas, evitar fraudes, gerenciar riscos e facilitar a gestão dos serviços e produtos do Second Hand.


    (iv) “Contraparte na transação”: outros usuários das plataformas do Second Hand, nas condições previstas, a fim de colocá-lo em contato com o vendedor ou comprador para efeitos da transação que deseja realizar.


    (v) “Autoridades públicas”: autoridades administrativas e judiciais que, no exercício de sua competência, exijam informações, mesmo que não haja ordem ou citação executiva ou judicial para esse efeito, para os seguintes fins: (a) colaborar na investigação e denunciar fraudes, pirataria, violação de direitos de propriedade intelectual ou qualquer outro ato ilícito, bem como qualquer atividade ou circunstância que possa gerar responsabilidade legal para o Second Hand e/ou aos seus usuários; (b) resguardar um interesse público, a aplicação ou administração da justiça, o reconhecimento, exercício ou defesa de um direito em um processo judicial ou administrativo e/ou a resolução de disputas; e (c) cumprir com qualquer lei, regulamento ou disposição legal aplicável, ou algum mandato de autoridade competente devidamente fundamentado e motivado.


    (vi) “Membros do Brand Protection Program”: membros do Brand Protection Program - BPP, (antigo Programa de Proteção à Propriedade Intelectual - PPPI) do Second Hand, com o objetivo de defender os direitos de propriedade industrial comercializados através do Second Hand. Saiba mais sobre este Programa em: https://www.mercadolivre.com.br/brandprotection/enforcement


    (vii) “Intervenientes em Disputas”: autoridades, compositores amigáveis, tribunais ou entidades que intervenham na resolução de disputas, a fim de resolver disputas que possam surgir entre usuários ou entre eles e qualquer empresa do grupo corporativo do Second Hand.


    (viii) “Desenvolvedores” dentro da estrutura e condições do Programa para Desenvolvedores do Second Hand (https://developers.mercadolivre.com.br/es_ar/terminos-y-condiciones).


    (ix) “Usuários e/ou visitantes em geral”: outros usuários e/ou visitantes de nossa plataforma, a fim de fornecer um serviço de qualidade ao consumidor final, fornecendo informações para que possam tomar uma decisão de compra informada. O número de vendas realizadas pelo vendedor será publicado na plataforma, assim como a reputação, atendimento ao cliente, opiniões dos compradores (cujo conteúdo não é de responsabilidade do Second Hand) e pontualidade na entrega dos produtos.


    Da mesma forma, o Second Hand poderá divulgar suas Informações Pessoais a seu critério a outros usuários dos Sites e/ou Serviços, entidades ou terceiros quando houver motivos suficientes para considerar que sua atividade é suspeita de tentar ou cometer um crime ou tentar prejudicar outras pessoas.


    Caso o Second Hand decida compartilhar suas Informações Pessoais com terceiros que não os mencionados, solicitaremos seu consentimento prévio e expresso, desde que não haja autorização ou obrigação legal que permita que seja realizado sem tal consentimento.


    Da mesma forma, você dá o seu consentimento expresso e informado para que o Second Hand ceda, transmita ou transfira suas Informações Pessoais aos destinatários descritos nesta Declaração de Privacidade.


    Por fim, o Second Hand não será responsável pelo uso indevido de suas Informações Pessoais por parte de terceiros se tais terceiros tiverem coletado e/ou processado diretamente suas Informações Pessoais.




    Transferências internacionais de dados


    Os serviços prestados pelo Second Hand requerem o suporte de uma infraestrutura tecnológica, como servidores e serviços em nuvem, que podem ser próprios ou fornecidos por terceiros.


    Parte dessa infraestrutura pode ser estabelecida em um país diferente do seu.


    Também pode acontecer de os destinatários dos dados indicados anteriormente no item “Como compartilhamos as Informações Pessoais?” estarem em um país diferente.


    Os países receptores dos dados que transferimos podem não oferecer os níveis adequados de proteção de dados pessoais conforme os regulamentos aplicáveis.


    Nesses casos, o Second Hand adota medidas para proteger seus dados, por meio de cláusulas contratuais ou regras corporativas vinculativas que impõem as mesmas medidas de proteção descritas nesta Declaração de Privacidade.




    Por quanto tempo armazenaremos as Informações Pessoais?


    Armazenaremos as informações pessoais somente pelo tempo que for necessário para cumprir o objetivo para o qual foram coletadas, cumprir requisitos legais ou regulamentares ou durante o prazo de prescrição legal de possíveis responsabilidades legais ou contratuais.


    Após o término do período, os dados serão excluídos ou anonimizados de forma que nenhuma pessoa possa ser individualizada, conforme permitido pela regulamentação de cada país.




    Decisões automatizadas e criação de perfis


    No Second Hand, temos o compromisso de fornecer cada vez mais e melhores serviços que simplificam a sua vida.


    Para isso, recorremos a ferramentas que nos ajudam a ser mais eficientes por meio de técnicas conhecidas como “inteligência artificial”, “machine learning” ou “Big Data” que utilizamos para diversos fins, como prevenção de fraudes, análise e previsão da capacidade econômica, personalização de serviços e publicidade, mecanismos automatizados de segurança cibernética ou validação de identidade por meio do reconhecimento de imagens.


    Decisões automatizadas são aquelas tomadas com base no uso de algoritmos e programas de computador, sem que nenhum ser humano esteja envolvido no processo de tomada de decisão.


    Por outro lado, a criação de perfis é a avaliação de alguns aspectos pessoais, como seus interesses, preferências, comportamentos ou localização, realizada através do processamento automatizado das informações pessoais com procedimentos estatísticos. Como resultado desse processamento, podemos enviar comunicações personalizadas ou mostrá-las em nossas plataformas, que acreditamos ser do seu interesse.


    Você tem o direito de solicitar a revisão de uma decisão baseada no processamento automatizado de dados.




    Confidencialidade das Informações Pessoais e Responsabilidade dos Usuários


    Faremos tudo o que estiver ao nosso alcance para proteger a privacidade de suas Informações Pessoais. O usuário será responsável por todos os atos que ocorrerem através do uso de seu apelido e senha. Se, por algum motivo, você achar que alguém sabe sua senha, modifique-a entrando no menu de navegação em Minha conta > Configuração > Dados pessoais.




    Menores


    Os Serviços do Second Hand estão disponíveis apenas para aqueles que têm capacidade legal de contratar de acordo com os regulamentos aplicáveis. Portanto, caso não cumpra essa condição, não deverá fornecer suas Informações Pessoais.




    Uso das Informações Pessoais por outros Usuários


    O Second Hand permite que os usuários tenham acesso limitado a determinados dados (como nome, apelido, e-mail, outras informações de contato e informações de cobrança e envio) de outros usuários para facilitar a interação entre eles. Sob nenhuma circunstância outros usuários poderão comunicar suas Informações Pessoais a terceiros sem o seu consentimento e/ou o consentimento do Second Hand, conforme apropriado.


    Quando um usuário vendedor recebe informações pessoais de seus compradores, ele se torna responsável pelo processamento desses dados e adquire as obrigações que isso implica. Portanto, não é permitido utilizar os dados para uma finalidade distinta ou incompatível com a que originou a coleta: concluir uma transação na plataforma do Second Hand. Por esse motivo, eles podem utilizar apenas as Informações Pessoais de outros usuários obtidas no site para: (a) fins relacionados a transações na plataforma do Second Hand, (b) utilizar serviços oferecidos no Second Hand (por exemplo: depósito, seguro, envio ou transporte e reclamações de fraude) e (c) qualquer outra finalidade para a qual o usuário correspondente consinta expressamente depois que as informações exigidas por lei forem previamente comunicadas.


    O Second Hand não aceita condutas consideradas como “spam”. É absolutamente proibido o envio indiscriminado de mensagens de qualquer natureza entre os usuários do Second Hand.


    O Second Hand não controla, armazena ou tem acesso às mensagens e conteúdos enviados pelos usuários por outros meios que não os Sites e, portanto, não assume nenhuma responsabilidade por qualquer dano que possa ser causado por seu uso. As negociações realizadas pelos usuários através desses meios são de responsabilidade exclusiva dos usuários.


    O Second Hand não é responsável pelo uso que qualquer usuário ou outra pessoa possa fazer das informações publicadas nos sites. Os usuários concordam que o Second Hand não será responsável por perdas ou danos que possam ser gerados como resultado de negociações entre os usuários. Consequentemente, você isenta o Second Hand de qualquer tipo de responsabilidade caso tenha qualquer conflito com um ou mais usuários.




    Links para outros Sites


    Por meio dos Sites, o Second Hand pode incluir links para sites de terceiros, o que não indica que pertençam ou sejam operados pelo Second Hand. O processamento das Informações Pessoais por terceiros responsáveis pelos sites mencionados acima não é abrangido por esta Declaração de Privacidade. Da mesma forma, você reconhece e aceita que o Second Hand não tem controle sobre esses sites e que ele não é e nem será responsável pelo conteúdo ou pelos serviços fornecidos por tais sites, nem pela forma como processam suas Informações Pessoais, dado que você acessa esses sites por sua conta e risco.




    Como poderá exercer seus direitos de controle das suas Informações Pessoais?


    Os regulamentos aplicáveis lhe concedem certos direitos sobre suas Informações Pessoais, como por exemplo: (i) acesso; (ii) atualização; (iii) retificação; (iv) cessação do envio de anúncios, ofertas e promoções; (v) exclusão; (vi) revogação do consentimento; e (vii) confidencialidade.


    Você pode realizar qualquer consulta, reclamação e/ou solicitação em relação às suas Informações Pessoais entrando em contato com o Second Hand por meio deste formulário; ou através dos detalhes de contato fornecidos nos anexos de cada país incluídos abaixo.


    Em certos casos, manteremos em nossos arquivos as Informações Pessoais que nos tenha pedido para excluir a fim de cumprir os propósitos descritos nesta Declaração de Privacidade ou quando houver um dever contratual ou legal de manter suas Informações Pessoais. Uma vez cumprido tal propósito ou extinta a obrigação contratual ou legal, procederemos à exclusão de suas Informações Pessoais.




    Publicidade, Cookies e Outras Tecnologias


    O usuário reconhece e aceita expressamente que o Second Hand poderá utilizar um sistema de monitoramento de comportamento através do uso de “cookies”, “web beacons” e/ou outras tecnologias de monitoramento semelhantes.


    Essas tecnologias são utilizadas para conhecer os interesses e o comportamento daqueles que visitam ou são usuários do nosso site e, dessa forma, oferecer um serviço melhor ou fornecer informações relacionadas. Também utilizamos as informações obtidas por meio de cookies para analisar as páginas navegadas pelo visitante ou usuário, as pesquisas realizadas, aprimorar nossas iniciativas comerciais e promocionais, exibir publicidade ou promoções, banners de interesse, notícias sobre o Second Hand, aperfeiçoar nossa oferta de conteúdo e artigos, personalizar os referidos conteúdos, apresentações e serviços, bem como promover e fazer cumprir as regras e a segurança do site; também as utilizamos para que o usuário não precise digitar sua senha com tanta frequência durante uma sessão de navegação, como também para contabilizar e corroborar os registros, a atividade do usuário e outros conceitos de contratos comerciais, sempre visando a instalação de cookies, o benefício do usuário que o recebe, e que não serão utilizadas para outros fins não relacionados ao Second Hand. Da mesma forma, armazenamos cookies para oferecer uma experiência mais interativa no site, com base nas ações do usuário.


    Seus dados pessoais obtidos por meio dessas tecnologias não serão transferidos a terceiros de forma diferente das descritas nesta Declaração de Privacidade.


    Além disso, “cookies” ou outros sistemas semelhantes instalados por terceiros podem ser encontrados em determinadas páginas de nossos sites ou utilizados por anunciantes fora do Second Hand. Estas Políticas de Privacidade cobrem o uso de “cookies” pelo Second Hand e não incluem o uso de “cookies” instalados por terceiros.


    Saiba que a instalação, permanência e existência de cookies em seu computador ou dispositivo depende de sua exclusiva vontade, podendo ser removidos quando desejar. Para saber como remover os cookies do sistema, é necessário verificar a seção Ajuda (Help) do navegador.


    Nesse sentido, a qualquer momento você pode excluir os cookies armazenados, configurar o navegador para que solicite aprovação antes de armazenar cookies ou impedir diretamente o armazenamento de cookies. Este procedimento é realizado de forma distinta em diferentes navegadores, sendo necessário fazê-lo em cada navegador que utilizar.
</>
