
@{
    ViewData["Title"] = "CancelarVenda";
}


<br />
<br />
<h2>Venda cancelada com sucesso!</h2>
<p><br /></p>
<div>
    <a class="btn btn-primary" asp-controller="MeusProdutos" asp-action="MeusProdutos">Voltar</a>
</div>
