@model Entities.Models.Produto

@{
    ViewData["Title"] = "Vender";

}

<br />
<br />
<h2>Venda realizada com sucesso!</h2>
<p><br /></p>
<div>
    <a class="btn btn-primary" asp-controller="MeusProdutos" asp-action="MeusProdutos">Voltar</a>
</div>