@model Entities.Models.Produto

@{
    ViewData["Title"] = "Vender";

}



<h2>Venda realizada com sucesso!</h2>
<p><br /></p>
<div>
    <a asp-controller="MeusProdutos" asp-action="Index">Voltar</a>
</div>