
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do Administrador</h2>
        </p>

        <div class="navbar-collapse collapse d-sm-inline-flex">
            <a class="nav-link text-dark" asp-area="" asp-controller="AdminProdutos" asp-action="Index">Cadastro de Vendedores</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="AdminRelatorioVendas" asp-action="Index">Relatório Financeiro</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="AdminCategorias" asp-action="Index">Cadastro de Categorias</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="AdminPedidos" asp-action="Index">Cadastro de Endereços</a>
        </div>

    </div>
   
</div>



