@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Área Administrativa</h2>
<p>Aqui serão acessados os relatórios gerenciais do sistema</p>
